@import "./Vars.scss";
@import "./Media.scss";

.card {
    padding-bottom: 40px;
    .wrapper {
        max-width: 1238px;
        padding: 0 19px;
        margin: 0 auto;
    }
    &__container {
        display: flex;
    }
    &__link {
        margin: 0 15px 7px 0;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        padding: 9px 20px;
        background: #4f4f4f;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background: #4793ff;
        }
    }
    &__block__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: var(#{--components-background-default});
        box-shadow: var(#{--card-shadow-default});
        border-radius: 20px;
        padding: 20px;
        margin-top: 17px;
        gap: 20px;
        transition: all 0.3s;
    }
    &__block__container {
        background: var(#{--card-background-default});
        box-shadow: var(#{--card-shadow-default});
        border-radius: 10px;
        width: 149px;
        padding: 11px;
        min-height: 200px;
        transition: all 0.3s;
        &:last-child {
            margin-right: 0;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 7px;
        }
        &__date {
            font-size: 14px;
            line-height: 17px;
            color: $base-color;
            margin-bottom: 12px;
        }
        &__icon {
            width: 48px;
            margin: 12px 0 15px 0;
        }
        &__temperature__day {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
        &__temperature__night {
            margin-bottom: 6px;
        }
    }
}
.gray-text {
    font-size: 13px;
    line-height: 16px;
    color: $base-color;
}
